PySide2
Pillow
certifi
charset-normalizer
colorthief
idna
numpy
pywin32
requests
scipy
shiboken2
urllib3
darkdetect
wave
matplotlib
soundfile
python-socketio
netifaces
pystun3
pythonp2p
pycryptodome
